    <div class="card detailContainer text-secondary">
        <div class="card-header sticky-top " style="background-color:white" >
            <p class=" post" id="detailClose detailClose" onclick="closeModal()">X</p>                
        </div>
        <div class="card-body">
            <ul class="list-group detailComments">
            {% for comment in comments %}
                <li class="list-group-item ">
                    {% if comment.date|date < date %}
                        True
                    {% endif %}
                    
                <span class="float-right badge badge-secondary badge-pill"> {{comment.date}} </span>
                <table>
                    <tr >
                        <td class=" d-flex justify-content-between align-items-center">
                            <div>
                            <img src="{{comment.user.users.dp.url}}" class="detailDp"  /> 
                            <b style="border-left:20px"> &Tab; {{comment.user|title}}</b>
                            </div>
                        </td>
                    </tr>
                </table>
                <p>{{comment.comment}}</p>
                </li>
            {% endfor %}
            </ul>
            {% if comments.has_next %}
                <p onclick="morecomments('?comment={{comments.next_page_number}}')">Load More</p>
            {% endif %}
        <div class="card-footer">
            <div class=" container-fluid">
                <p class="text-secondary">Likes {{ likes}} Comments {{ ccount }}</p>
            </div>
        </div>
    </div>
</div>
