{% extends "home/index.html" %}
{% block title %} Posts {% endblock %}
{% load static %}
{% block main %}

{% if user.is_authenticated %}
<div>
    <button onclick="createPost()" class="badge badge-pill" id="createpost">
        <span class="badge  badge-pill" style="color:white"><ion-icon name="add" size="medium"></ion-icon></span> Create Post </button>
</div>
{%for p in posts%}
<div class="container post_container" >
    <div class="row">
        <div class="container " >
        <div class="col-sm-7 postsContainer" style="box-shadow:rgb(216, 214, 214)  3px 6px">
            <div class="card text-secondary" id ="postBody" >
                <div class="card-header">
                    <div class="float-right bg-white">
                        <p class="menu " id="menu{{p.id}}" onclick="menu('{{p.id}}')"><b>...</b></p>
                        {% if p.creator == user %}
                        <div style="display:none" class="menu-item" id="form{{p.id}}">
                            <form method="POST"  action="deletepost">
                                {% csrf_token %}
                                <input type="hidden" name="id" value="{{p.id}}" id="del{{p.id}}">
                                <input type="submit" value="Delete" class="form-control">
                            </form><br>
                            <a href="updatepost/{{p.id}}" class="form-control">Update</a>
                        </div>
                        {% endif %}
                    </div>
                    <div class="row">
                        <img src="{{p.creator.users.dp.url}}" class="float-left img-thumbnail" id="cardpic" style="width:20%" height="20%">
                        <a href="{% url 'home:profile' p.creator.username %}" class="col-md-3"></a>
                        <p >{{ p.creator|title }} </p>
                        </a>
                        <span class="col-md-4">{% if p.date|timesince|first == "0" %} Just now {% else %}{{p.date|timesince}} ago{% endif %} </span>            
                    </div>
                </div>
                <div class="source">
                    {% if p.content != "None" %}
                        <p class="card-title">{{ p.content }} </p><br>
                    {% endif %} 
                </div>
                <div class="card-body slider mediaContainer" id="mediaContainer{{p.id}}">
                    <p class="float-right indicator" style="display:none" id="indicator{{p.id}}">0</p>
                    <p class="badge badge-pill prev float-left" style="display:none; " id="prev{{p.id}}" onclick="prevSlider('{{p.id}}','{{p.pic.url}}','{{p.pic1.url}}','{{p.pic2.url}}','{{p.pic3.url}}','{{p.pic4.url}}','{{p.pic5.url}}','{{p.pic6.url}}','{{p.pic7.url}}','{{p.pic8.url}}','{{p.pic9.url}}')"> 
                            <ion-icon name="arrow-dropleft" size="large"></ion-icon>                 
                    </p>
                    {% if p.pic != "None" and p.pic.url|last == "d" %}
                    <video  id="vid{{p.id}}" class="postPic card-img-bottom"></video>
                        <div id="playButton{{p.id}}" class="playButton " onclick="playButton('{{p.id}}','{{p.pic.url}}')">
                            <ion-icon name="play" size="large"></ion-icon></div>
                        </div>
                        <p id="seek{{p.id}}" class="seek"></p>
                        <script>
                            posterFunc('{{p.pic.url}}',"{{p.id}}")
                        </script>
                    {%elif p.pic.url != "None" and p.pic.url|last != "d"%}
                        <img src="{{p.pic.url}}" class="postPic card-img-bottom " id="pic{{p.id}}" onclick="detailFunc('{{p.id}}')">
                    {% endif %}
                    {% if p.pic1 != "None" %}
                        <p class="badge badge-pill float-right next" id="next{{p.id}}" onclick="nextSlider('{{p.id}}','{{p.pic.url}}','{{p.pic1.url}}','{{p.pic2.url}}','{{p.pic3.url}}','{{p.pic4.url}}','{{p.pic5.url}}','{{p.pic6.url}}','{{p.pic7.url}}','{{p.pic8.url}}','{{p.pic9.url}}')">
                                <ion-icon name="arrow-dropright" size="large"></ion-icon> </p>
                    {% endif %}
                </div>
                
                <div class="card-footer">
                    <script>
                        postFunc("{{p.id}}")
                    </script>
                    <div id="info{{p.id}}">
                    </div>
                    <form method="POST" class="form-group" onsubmit="commentFunc(event, '{{p.id}}')" >
                        {% csrf_token %}
                        <input name="comment" maxlength="10000" type="text" class="form-control" id="comment{{p.id}}"><br/>
                    </form>
                    <button class="btn btn-outline-secondary form-control" id="commentButton" onclick="commentFunc(event,'{{p.id}}')">Comment</button>
                </div>
            </div>
        </div>    
    </div>    
{% endfor %}
<p></p>
 </div>
</div>
<p></p>
</div>
{% if suggested_users %}
<div class="suggested-img-container container-fluid">
<h3>Suggested Users</h3>
<table class="card ">
<tr class="card-body">    
{% for suggested in suggested_users %}
{% for suggested_user in suggested %}
    <td class="suggested-img-td"  style="border-right:30px; ">
        <div class="">
            <h5 class="text-secondary">{{suggested_user|title}}</h5>
        </div>
        <div class="">
            <img class="suggested-img img-thumbnail card-img-bottom "  src="{{suggested_user.dp.url}}" >
        </div>
    <div class="">
        <a href="{% url 'home:follow' suggested_user.user.username %}" class="btn btn-primary">Follow</a>
    </div>
</td>
{% endfor %}
{% endfor %}
</tr>
</table>
{% endif %}
</div>
{% endif %}
{% if posts.has_next %}
       <p id="nextPage" style="display:none">{{posts.next_page_number}}</p>
{%else%}
        <p id="nextPage" style="display:none">{{posts.last_page_number}}</p>
{% endif %} 
{% endblock %}