{% extends "home/index.html" %}
{% if profile.users.first_name %}
    {% block title %}{{profile.first_name}} {{profile.last_name}}{% endblock %}
{% endif %}
{% block main %}

{% if username == user.username %}
    <a href="{% url 'home:update-profile' user.username %}" style="font-size:15px" class="badge badge-secondary badge-pill">Update Profile</a>
{% endif %}
<table class="container-fluid">
    <tr class="card" style="font-size:25px">
                <td class="col-md-2" >{{profile.username}}</h1></td>
                <td class="col-md-2">{{profile.first_name}} {{profile.last_name}} </h2></td>
                <td class="col-md-2">{{followers}} Followers | {{following}} Following</h3></td>
                <td class="col-md-2">From {{profile.users.stateRegion }} in {{profile.users.country}}</h3></td>
                <td class="col-md-2">Year Joined: {{profile.date_joined.year}}</h4></td>
    </tr>
</table>
        {% if alreadyFollowing == user.username %}
            <a href="{% url 'home:unfollow' profile.username %}">Unfollow</a>
        {% else %}
            <a href="{% url 'home:follow' profile.username %}">Follow</a>
        {% endif %}
        <div class="card-body">

            <img src="{{profile.users.dp.url}}" class="img-thumbnail col-md-6 profilePagePic"/>            
            <div class="row">
                <table class="float-right col-md-5">
                    <tr>
                {% for post in posts %}
                {% if post.pic != "None" %}
                        <a href="{% url 'home:post-detail' post.id %}">
                           <td><img src="{{post.pic.url}}" width="150px" height="150px" class="profilePostPic" /></td>
                        </a>
                {% endif %}
                {% endfor %}
                    </tr>
                </table>

                {% if posts.has_next %}
                    <button class="btn-default" onclick="profilePostsFunc('?profilepost={{posts.next_page_number}}')">Load More</button>
                {% endif %}
            </div>
        </div>
    </div>
    </div>
{% endblock %}