{% include "home/index.html" %}
<div class="container">
<p>
<form action="{% url 'home:update-profile' user.username%}" enctype="multipart/form-data" class="form-group" method="post">
    {% csrf_token %}
    <input class="form-control" placeholder="Username" type="text" name="username" value="{{user.username}}" required /><br>
    <input class="form-control" placeholder="First Name" type="text" name="first_name" value="{{user.first_name}}" /><br>
    <input class="form-control" placeholder="Last Name" type="text" name="last_name" value="{{user.last_name}}" /><br>
    <input class="form-control" placeholder="Email" type="email" name="email" value="{{user.email}}" /><br>
    <input class="form-control" placeholder="Phone Number" type="tel" name="phone" value="{{user.users.phone}}" /><br>
    <input class="form-control" placeholder="Date of birth" type="date" name="dob"
    max="{{date}}-01-01" value="{{user.users.dob|date:'Y-m-d'}}" /><br>   
    <input class="form-control" placeholder="Country" type="text" name="country" value="{{user.users.country}}" /><br>
    <input class="form-control" placeholder="State or Region" name="stateRegion" value="{{user.users.stateRegion}}" /><br>
    <select name="sex" class="form-control input" required><br>     
        {% if user.users.sex == "Male" %}
            <option selected>Male</option>
        {% else %}
            <option selected>Female</option>
            <option>Male</option>
        {% endif %}
    </select><br>
    <input type="submit" class="btn btn-default" value="Submit"/>
</form>
</p>
</div>
