{% extends 'home/index.html'%}
{% block main %}
    <div class="row">
        <div class="container-fluid " id="mainContainer">
        <h1 class="text-secondary" style="font-family:Pacifico; font-size:39px;">
            You are welcome to Solus Christos
        </h1> 
        <div class=" col-md-5" id="intro">
            <p class="text-justify" style="font-family:Courgette">
            Solus Christos is made to help you share your Christian believes and goals with Christians
            around the world. See Posts, Videos, Images and others from around the world and get to share your
            own also. Be blessed by others and get to bless other. We hope you enjoy your time with us.
            <p style="color:inherit; font-family:Courgette">God bless You</p>
            </p>
        </div>
                 
        </div>
    </div>
{% endblock%}